{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig'%}
{% block title %} New Blog Post {% endblock %}

{% block body %}
    <h1>Create a New Post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Post</button>
    {{ form_end(form) }}
{% endblock %}